<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shopping">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.me.AddressActivity"></activity>
        <activity android:name=".ui.shopping.OrderActivity" />
        <activity android:name=".ui.home.SelectionTitleActivity" />
        <activity android:name=".ui.home.title.RecommendTitleActivity" />
        <activity android:name=".ui.home.BrandDetailActivity" />
        <activity android:name=".ui.home.title.NewPublishTitleActivity" />
        <activity android:name=".ui.home.title.BrandTitleActivity" />
        <activity android:name=".ui.shopping.ParticularsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>